# Angular
.angular/
.angular/cache/
dist/
tmp/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/